.integrantes__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    gap: 1rem;
    
}

.integrantes__integrante {
    text-align: center;
    width: 60%;
    height: 30%;
    border-radius: 5px 0 0 5px;
    border: 0.6px solid var(--cor-azul);
}