

.quem-somos h1 {
    margin: .7em 0;
}

.quem-somos__content__texto {
    padding: 0 1em;
    margin-bottom: 1em;
}

.quem-somos__content__imagem {    
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quem-somos__content__imagem img {
    padding: 0 10%;
    width: 85%;
    height: 100%;
}

.integrantes {
    margin-top: 30%;
}

.integrantes__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.3em;
    padding: 0 1rem;
    gap: 1rem;
}

.integrantes__integrante {
    text-align: center;
    width: 60%;
    height: 30%;
    border-radius: 5px 0 0 5px;
    border: 0.6px solid var(--cor-azul);
}

@media screen and (min-width:900px) {
    .quem-somos {
        display: block;
        height: 80vh;
    }

    .quem-somos__content {
        display: flex;
        padding: 1rem;
    }

    .quem-somos__content__textos {
        width: 50%;
        font-size: 1.025rem;
        margin-bottom: 10%;
    }

    .quem-somos__content__imagem {
        width: 50%;
        position: relative;
    }
    .quem-somos__content__imagem img {
        width: 100%;
    }
    .integrantes {
        margin: 0;
    }
    .integrantes__container {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0 .5rem;
        gap: 2rem;
    }

    .integrantes__integrante {
        width: 25%;
        transition: all .5s ease-in-out;
    }

    .integrante__nome {
        font-size: 1.5rem;
    }

    .integrante__cargo {
        font-size: 1.2rem;
    }

    .integrantes__integrante:hover {
        border-color: var(--cor-amarelo);
        cursor: pointer;
        background-color: var(--branco);
        transform: scale(1.1);
    }
}