.header__logo-maior {
    display: none;
}
.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1em;
    /* position: fixed; */
}

.navbar__hamburguer {
    padding: 1em;
    width: 1.5rem;
    height: 1.5rem;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.navbar__menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 30%;

   
}
.navbar__menu--desktop {
    display: none;
}
.hamburguer-checkbox {
    display: none;
}

.hamburguer-checkbox:checked ~ .navbar__menu {
    display: block;
}

.menu__item {
    padding: 1em;
    background-color:var(--branco);
}

.menu__item__link {
    color: var(--cor-amarelo);
    text-transform: uppercase;
    font-family: var(--fonte-texto);
}

@media screen and (min-width:900px) {
    .navbar__hamburguer {
        display: none;
    }
    .navbar__menu--desktop{
        display: flex;
        background-color: var(--branco);
    }
    .menu__item__link {
        transition: all .6s;
        font-size: 1.25rem;
    }
    .menu__item__link:hover {
        text-decoration: underline;
    }
    .header__logo-maior {
        display: block;
    }
    .header__logo-menor {
        display: none;
    }
    .hamburguer-checkbox:checked ~ .navbar__menu{
        display: none;
    }
}